<footer class="footer py-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Left Side: Logo -->
      <div class="col-md-4 text-center text-md-start">
        <a class="navbar-brand" href="#">
          <span class="logo-text">MTB</span>
        </a>
      </div>

      <!-- Middle: Navigation Links -->
      <div class="col-md-4 text-center">
        <ul class="nav justify-content-center">
          <button class="btn btn-outline-secondary me-2" (click)="showAlertEvent()">
            Show Toast
          </button>
          @for (item of navItems; track item.name) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">{{
              item.name
            }}</a>
          </li>
          }
        </ul>
      </div>

      <!-- Right Side: Login/Signup Buttons -->
      <div class="col-md-4 text-center text-md-end">
        <button class="btn btn-outline-secondary me-2" routerLink="/login">Login</button>
        <button class="btn btn-secondary" routerLink="/signup">Sign Up</button>
      </div>
    </div>
  </div>
</footer>
